.listBook {
    margin: 20px;
    width: 40%;
}

.book {
    margin: 10px;
    text-align: right;
    width: 50%;
}

.book button {
    margin-left: 5px;
}

.book img {
    width: 50px;
}

.button {
    margin-right: 5px;
}